html{
    height: 100%;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width:400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
    border-radius: 10px;
}
.container .main_heading{
    margin:0 0 30px;
    padding: 0;
    text-align: center;
    color:black;
}
.container .userbox{
    position: relative;
}
.container .userbox input{
    width:100%;
    padding: 10px 0;
    font-size: 1rem;
    color:#fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 5px solid palevioletred;
    outline:none;
    background: transparent;
}

.container .userbox label{
    position: absolute;
    top:0;
    left:0;
    padding: 10px 0;
    font-size: 1rem;
    color:#fff;
    pointer-events: none;
    transition: .5s;
}

.container .userbox input:focus ~ label,
.container .userbox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.container form{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

.btn {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
   }
   
.btn:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}